.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navItem {
  cursor: pointer;
}

.navItem:not(:last-child) {
  margin-right: 36px;
}

.navText {
  display: none;
}

.iconWrapper,
.svg {
  fill: #6e78e8;
  height: 38px;
  width: 38px;
}

@media screen and (min-width: 768px) {
  .nav {
    flex-direction: column;
    align-items: flex-start;
    width: 143px;
  }

  .navItem {
    height: 27px;
  }

  .navItem:not(:last-child) {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .iconWrapper {
    margin-right: 23px;
  }

  .navText {
    display: block;
    font-family: 'Segoeui', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
  }

  .navLinkActive .navText {
    font-weight: 700;
  }

  .iconWrapper,
  .svg {
    width: 18px;
    height: 18px;
    margin-right: 23px;
  }
}

.navLink {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  transition: color 250ms linear;
  text-decoration: none;
}

.navLinkActive {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  color: #000000;
  fill: #4a56e2;
  transition: color 250ms linear;
}

.navLinkActive .navText,
.navLinkActive .svg {
  fill: #4a56e2;
}

.svg {
  background-color: #ffffff;
  border-radius: 6px;
  filter: drop-shadow(0px 3px 10px rgba(74, 86, 226, 0.5));
}

/* Header */

.header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #ffffff;
}

.logoSvg {
  width: 30px;
  height: 30px;
}

.logoContainer {
  display: flex;
  align-items: center;
  color: inherit;
  text-decoration: none;
}

.logoText {
  margin-left: 15px;
  font-size: 22px;
  font-weight: bold;
}

.authContainer {
  display: flex;
  align-items: center;
  color: #bdbdbd;
  font-size: 18px;
  height: 30px;
  line-height: 30px;
}

.name {
  margin: 0;
  font-family: 'Circe', sans-serif;
  padding-right: 8px;
  color: #bdbdbd;
}

.button {
  display: flex;
  align-items: center;
  color: #bdbdbd;
  fill: #bdbdbd;
  padding: unset;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: all 250ms ease;
}
.button:hover,
.button:focus {
  fill: #ff6596;
}

@media screen and (max-width: 767px) {
  .exit {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header {
    height: 80px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .logoSvg {
    width: 40px;
    height: 40px;
  }
  .logoText {
    font-size: 30px;
    margin-left: 20px;
  }
  .name {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid;
  }
  .exit {
    padding-left: 8px;
    font-size: 18px;
    line-height: 27px;
    color: #bdbdbd;
    transition: all 250ms ease;
  }
  .exit:hover,
  .exit:focus {
    color: #ff6596;
  }
}

@media screen and (min-width: 1280px) {
  .header {
    padding-left: 85px;
    padding-right: 85px;
  }
}
